.canvas-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.vertical-scroll-bar {
  position: absolute;
  width: var(--scrollBarSize);
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 0 5px;
  border: 1px solid var(--borderColor);
  border-top-color: var(--white);
}

.vertical-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: var(--scrollbarColor);
}

.horizontal-scroll-bar {
  position: absolute;
  height: var(--scrollBarSize);
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 0;
  border: 1px solid var(--borderColor);
  border-left-color: var(--white);
  background-color: var(--white);
}

.horizontal-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: var(--scrollbarColor);
  height: 100%;
}

.horizontal-scroll-bar-content:hover,
.vertical-scroll-bar-content:hover {
  background-color: var(--scrollbarHoveColor);
}

.context-menu {
  position: fixed;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  width: 110px;
  z-index: 4;
}

.context-menu > button {
  width: 100%;
  background-color: var(--white);
}

.bottom-bar {
  position: absolute;
  display: none;
  align-items: center;
  padding: var(--tinyPadding) var(--mediumPadding);
  padding-top: 50px;
  right: 18px;
  bottom: 36px;
}

.bottom-bar-text {
  margin: 0 var(--tinyPadding);
}
