.canvas-container {
  flex: 1;
  height: 0;
  position: relative;
}

.canvas-content {
  background-color: var(--white);
  width: 100%;
  height: 100%;
}

.vertical-scroll-bar {
  position: absolute;
  width: 6px;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--white);
  box-sizing: content-box;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-top-color: var(--white);
}

.vertical-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.1);
}

.horizontal-scroll-bar {
  position: absolute;
  height: 6px;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: content-box;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-left-color: var(--white);
  background-color: var(--white);
}

.horizontal-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}

.horizontal-scroll-bar-content:hover,
.vertical-scroll-bar-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.context-menu {
  position: fixed;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  width: 110px;
}

.context-menu > button {
  width: 100%;
  background-color: var(--white);
}

.bottom-bar {
  position: absolute;
  display: none;
  align-items: center;
  background-color: var(--backgroundColor);
  padding: var(--tinyPadding) var(--mediumPadding);
  padding-top: 50px;
  right: 18px;
  bottom: 18px;
}

.bottom-bar-text {
  margin: 0 var(--tinyPadding);
}
