.menubar-container {
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing-2) var(--spacing-5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}

.menubar-menu {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}

.user {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}
