.app-container {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  flex: 1;
  height: 0;
}

.relative {
  position: relative;
}

.full {
  width: 100%;
  height: 100%;
}

.canvas-content {
  background-color: var(--white);
}

.toolbar-wrapper {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 40px;
  background-color: #f3f3f3;
  border-bottom: 1px solid var(--gridStrokeColor);
  display: flex;
  align-items: center;
}

.toolbar-wrapper>* {
  margin-right: 8px;
}

.formula-bar-wrapper {
  width: 100%;
  box-sizing: border-box;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgroundColor);
}

.formula-bar-name {
  border: 1px solid var(--gridStrokeColor);
  width: 100px;
  height: 21px;
  line-height: 21px;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 2px;
  text-align: center;
  background-color: var(--white);
  user-select: none;
}

.formula-bar-editor-wrapper {
  border: 1px solid var(--gridStrokeColor);
  flex: 1;
  height: 21px;
  border-radius: 2px;
  background-color: var(--white);
}

.formula-bar-value {
  padding: 0 4px;
  display: none;
}

.formula-bar-value.show {
  display: block;
}

.sheet-bar-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
}

.sheet-bar-list {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
}

.sheet-bar-item {
  padding: 0 10px;
  border-left: 1px solid var(--gridStrokeColor);
  user-select: none;
}

.sheet-bar-item.active {
  background-color: var(--white);
  color: var(--primaryColor);
}

.base-editor {
  width: 100%;
  padding: 0 4px;
  margin: 0;
  border: none;
  border-radius: unset;
  outline: none;
  font: inherit;
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
}

.cell-editor {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid var(--primaryColor);
  border-radius: 2px;
  background-color: var(--white);
  box-sizing: border-box;
}

.context-menu {
  position: fixed;
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}

.vertical-scroll-bar {
  position: absolute;
  width: 6px;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--white);
  box-sizing: content-box;
  padding: 0 4px;
  border: 1px solid #ccc;
  border-top-color: var(--white);
}

.vertical-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.1);
}

.horizontal-scroll-bar {
  position: absolute;
  height: 6px;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: content-box;
  padding: 4px 0;
  border: 1px solid #ccc;
  border-left-color: var(--white);
  background-color: var(--white);
}

.horizontal-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}

.horizontal-scroll-bar-content:hover,
.vertical-scroll-bar-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sheet-bar-add {
  margin-left: var(--mediumPadding);
}