.context-menu {
  position: absolute;
  background-color: var(--white);
  /* border: 1px solid var(--borderColor); */
  border-radius: var(--borderRadius);
  width: 110px;
}

.context-menu > button {
  width: 100%;
  background-color: var(--white);
}
