node_modules
node_modules/**
*/node_modules
dist
.vscode
.idea
yarn.lock
package-lock.json
coverage
dist
.DS_Store
lib
output
port.txt
test-results/
playwright-report/
blob-report/
playwright
report
docs
*.diff.png
*.lock
package-lock.json
/playwright-report/
/blob-report/
/playwright/.cache/
build

diff.txt
pnpm-lock.yaml
levelDB
uploads
dev.db
dev.db-journal