/* src/containers/canvas/index.module.css */
.canvas_canvas-container {
  flex: 1;
  height: 0;
  position: relative;
}
.canvas_canvas-content {
  background-color: var(--white);
  width: 100%;
  height: 100%;
}
.canvas_vertical-scroll-bar {
  position: absolute;
  width: 6px;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--white);
  box-sizing: content-box;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-top-color: var(--white);
}
.canvas_vertical-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.1);
}
.canvas_horizontal-scroll-bar {
  position: absolute;
  height: 6px;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: content-box;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-left-color: var(--white);
  background-color: var(--white);
}
.canvas_horizontal-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
}
.canvas_horizontal-scroll-bar-content:hover,
.canvas_vertical-scroll-bar-content:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.canvas_context-menu {
  position: fixed;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  width: 110px;
}
.canvas_context-menu > button {
  width: 100%;
  background-color: var(--white);
}

/* src/containers/components/Button/index.module.css */
.Button_buttonWrapper {
  padding: 0 4px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: var(--borderRadius);
  border: 1px solid var(--activeBorderColor);
  display: block;
}
.Button_buttonWrapper.Button_circle {
  border-radius: 50%;
}
.Button_buttonWrapper.Button_disabled {
  cursor: not-allowed;
  opacity: 0.35;
}
.Button_buttonWrapper:hover,
.Button_buttonWrapper.Button_active {
  background-color: var(--buttonActiveColor);
}

/* src/containers/components/Github/index.module.css */
.Github_githubWrapper {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  fill: var(--primaryColor);
  height: 40px;
  width: 40px;
}

/* src/containers/components/BaseIcon/BaseIcon.module.css */
.BaseIcon_baseIcon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  overflow: hidden;
}

/* src/containers/components/Select/index.module.css */
.Select_selectList {
  width: 80px;
  color: #000;
}
.Select_selectItem {
  font-size: var(--font);
  cursor: pointer;
}
.Select_selectItem.Select_disabled {
  background-color: #fff;
  cursor: not-allowed;
  color: var(--disabledColor);
}
.Select_selectItem.Select_disabled:hover {
  background-color: #fff;
}

/* src/containers/components/ColorPicker/index.module.css */
.ColorPicker_color-picker {
  position: relative;
}
.ColorPicker_color-picker-wrapper {
  width: 228px;
  position: absolute;
  z-index: 2;
  top: 22px;
  left: 0;
  display: none;
}
.ColorPicker_color-picker-wrapper.ColorPicker_show {
  display: block;
}
.ColorPicker_color-picker-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding-top: 4px;
  padding-left: 4px;
  background-color: #fff;
}
.ColorPicker_color-picker-item {
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
  margin-right: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
}
.ColorPicker_no-fill.ColorPicker_color-picker-item {
  width: auto;
  padding: 0 2px;
}
.ColorPicker_color-picker-item:hover {
  border-color: #ccc;
}
.ColorPicker_color-picker-trigger {
  border: 1px solid var(--borderColor);
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  border-radius: var(--borderRadius);
}
.ColorPicker_color-picker-trigger:hover,
.ColorPicker_color-picker-trigger.ColorPicker_active {
  background-color: var(--buttonActiveColor);
  border-color: var(--activeBorderColor);
}

/* src/containers/components/Dialog/index.module.css */
.Dialog_dialog-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dialog_dialog-container {
  background-color: var(--white);
  padding: var(--padding);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}
.Dialog_dialog-content {
  padding-top: var(--mediumPadding);
}
.Dialog_dialog-button {
  padding-top: var(--mediumPadding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Dialog_dialog-cancel {
  margin-left: var(--mediumPadding);
}

/* src/containers/FormulaBar/index.module.css */
.FormulaBar_formula-bar-wrapper {
  width: 100%;
  box-sizing: border-box;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgroundColor);
}
.FormulaBar_formula-bar-name {
  border: 1px solid var(--gridStrokeColor);
  width: 100px;
  height: 21px;
  line-height: 21px;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 2px;
  text-align: center;
  background-color: var(--white);
  user-select: none;
}
.FormulaBar_formula-bar-editor-wrapper {
  border: 1px solid var(--gridStrokeColor);
  flex: 1;
  height: 21px;
  border-radius: 2px;
  background-color: var(--white);
}
.FormulaBar_formula-bar-value {
  padding: 0 4px;
  display: none;
}
.FormulaBar_formula-bar-value.FormulaBar_show {
  display: block;
}
.FormulaBar_base-editor {
  width: 100%;
  padding: 0 4px;
  margin: 0;
  border: none;
  border-radius: unset;
  outline: none;
  font: inherit;
  background-color: var(--white);
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
}

/* src/containers/ToolBar/index.module.css */
.ToolBar_toolbar-wrapper {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-bottom: 1px solid var(--gridStrokeColor);
  display: flex;
  align-items: center;
}
.ToolBar_toolbar-wrapper > * {
  margin-right: 8px;
}

/* src/containers/SheetBar/index.module.css */
.SheetBar_sheet-bar-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
  position: relative;
}
.SheetBar_sheet-bar-list {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
}
.SheetBar_sheet-bar-item {
  padding: 0 10px;
  border-left: 1px solid var(--gridStrokeColor);
  user-select: none;
}
.SheetBar_sheet-bar-item.SheetBar_active {
  background-color: var(--white);
  color: var(--primaryColor);
}
.SheetBar_sheet-bar-context-menu {
  position: fixed;
  left: 0;
  bottom: 32px;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  width: 100px;
}
.SheetBar_sheet-bar-context-menu > button {
  width: 100%;
  background-color: var(--white);
}
.SheetBar_sheet-bar-input {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: var(--white);
  outline: none;
  font: inherit;
  border: none;
  border-radius: unset;
}
.SheetBar_show-block {
  display: inline-block;
}
.SheetBar_sheet-bar-add {
  margin-left: var(--mediumPadding);
}
.SheetBar_sheet-bar-unhide {
  width: 100%;
  background-color: var(--white);
}

/* src/containers/index.module.css */
.containers_app-container {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* src/global.css */
body,
html {
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font);
  color: var(--contentColor);
  line-height: var(--lineHeight);
}
body {
  font-family:
    "Microsoft Yahei UI",
    "PingFang SC",
    "Arial",
    sans-serif;
}
.root-container {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
div,
span {
  box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */
