.color-picker {
  position: relative;
}
.color-picker-wrapper {
  width: 228px;
  position: absolute;
  z-index: 2;
  top: 22px;
  left: 0;
  display: none;
}
.color-picker-wrapper.show {
  display: block;
}

.color-picker-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding-top: 4px;
  padding-left: 4px;
  background-color: #fff;
}
.color-picker-item {
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
  margin-right: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
}
.no-fill.color-picker-item {
  width: auto;
  padding: 0 2px;
}
.color-picker-item:hover {
  border-color: #ccc;
}
.color-picker-trigger {
  border: 1px solid var(--borderColor);
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  border-radius: var(--borderRadius);
}
.color-picker-trigger:hover,
.color-picker-trigger.active {
  background-color: var(--buttonActiveColor);
  border-color: var(--activeBorderColor);
}
