.container {
  position: relative;
}

.portal {
  border-radius: var(--borderRadius);
  position: absolute;
  z-index: var(--highestZIndex);
  background-color: var(--white);
  border: 1px solid var(--borderColor);
  transition: all 1s ease-out;
}
.menuContainer {
  left: 0;
}
.menuContainer.bottom {
  left: unset;
  right: 0;
}

.subMenuContainer {
  top: 0;
  left: 100%;
}
.menu {
  list-style: none;
  margin: 0px;
  padding: 0;
  outline: 0px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.small .menuItem {
  padding: 3px 8px;
}

.menuItem {
  padding: 6px 16px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  user-select: none;
  text-wrap: nowrap;
}

.menuItem + .menuItem {
  border-top: 1px solid var(--borderColor);
}

.menuItem:hover {
  background-color: var(--hoverColor);
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
}
