.selectList {
  background-color: var(--white);
  color: var(--black);
}
.selectItem {
  font-size: var(--font);
  cursor: pointer;
}
.selectItem.disabled {
  background-color: var(--white);
  cursor: not-allowed;
  color: var(--borderColor);
}
.selectItem.disabled:hover {
  background-color: var(--white);
}

.popup-container {
  position: absolute;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  border: 1px solid var(--borderColor);
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: var(--lowZIndex);
  max-height: 200px;
  overflow: auto;
  white-space: nowrap;
}
.popup-container.top {
  transform: translate(0, -100%);
  top: 0;
}
.popup-container.active {
  display: block;
}

.popup-item {
  padding: var(--tinyPadding);
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-item:hover {
  background-color: var(--buttonActiveColor);
}
.popup-item-icon {
  color: var(--primaryColor);
}
.popup-item-content {
  flex: 1;
  text-align: left;
}
