.selectList {
  color: var(--black);
}
.selectItem {
  font-size: var(--font);
  cursor: pointer;
}
.selectItem.disabled {
  background-color: var(--white);
  cursor: not-allowed;
  color: var(--disabledColor);
}
.selectItem.disabled:hover {
  background-color: var(--white);
}
