.canvas-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.vertical-scroll-bar {
  position: absolute;
  width: 20px;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--background-color);
  box-sizing: border-box;
  padding: 0 5px;
  border: 1px solid var(--border-color);
  border-top-color: var(--background-color);
}

.vertical-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--gray-300);
  height: 30px;
}

.horizontal-scroll-bar {
  position: absolute;
  height: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 0;
  border: 1px solid var(--border-color);
  border-left-color: var(--background-color);
  background-color: var(--background-color);
}

.horizontal-scroll-bar-content {
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--gray-300);
  height: 100%;
  width: 30px;
}

.horizontal-scroll-bar-content:hover,
.vertical-scroll-bar-content:hover {
  background-color: var(--gray-400);
}

.context-menu {
  position: fixed;
  background-color: var(--background-color);
  border-radius: 4px;
  min-width: 150px;
  z-index: 4;
}

.bottom-bar {
  position: absolute;
  display: none;
  align-items: center;
  padding: 4px 8px;
  padding-top: 50px;
  right: 18px;
  bottom: 36px;
  left: 68px;
}

.bottom-bar.active {
  display: flex;
}

.bottom-bar-text {
  margin: 0 4px;
}

.bottom-bar-input {
  width: 60px;
}

.user {
  position: absolute;
}

.userContent {
  background-color: var(--background-color);
  position: absolute;
  top: -22px;
  left: 0;
  white-space: nowrap;
}
