html,
body {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    'PingFang SC', 'Microsoft Yahei UI', 'Source Code Pro', Arial, sans-serif;
  background-color: var(--background-color);
}

html[data-layout-direction='rtl'] {
  direction: rtl !important;
}
