.float-element {
  cursor: move;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--borderColor);
  background-color: var(--white);
}
.float-element > img {
  display: block;
}

.context-menu {
  position: fixed;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  width: 150px;
  z-index: var(--lowZIndex);
}

.context-menu > button {
  width: 100%;
  background-color: var(--white);
}

.title {
  text-align: center;
  font-weight: bold;
  width: 98%;
  border: none;
  padding: var(--tinyPadding);
  z-index: var(--middleZIndex);
}

.chart {
  background-color: var(--white);
}
