.formula-bar-wrapper {
  width: 100%;
  padding: var(--mediumPadding) var(--largePadding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--borderColor);
  height: var(--formulaBarHeight);
  box-sizing: content-box;
}
.defined-name {
  margin-right: 10px;
  min-width: 100px;
}

.defined-name-editor {
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--tinyPadding);
}

.formula-bar-editor-wrapper {
  border: 1px solid var(--borderColor);
  flex: 1;
  height: 100%;
  box-sizing: content-box;
  border-radius: 2px;
  background-color: var(--white);
  position: relative;
}

.formula-bar-value {
  padding: 0 var(--tinyPadding);
  margin: 0;
  display: none;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white);
  z-index: var(--middleZIndex);
  position: relative;
  min-height: var(--formulaBarHeight);
}
.formula-bar-value.wrap {
  white-space: pre-wrap;
  border: 1px solid var(--borderColor);
}
.formula-bar-value.show {
  display: flex;
  align-items: center;
}

.formula-editor {
  overflow: hidden;
  width: 100%;
  min-height: var(--formulaBarHeight);
  padding: 0 var(--tinyPadding);
  margin: 0;
  border: 1px solid var(--primaryColor);
  outline: none;
  background-color: var(--white);
  position: absolute;
  box-sizing: border-box;
  z-index: var(--middleZIndex);
  resize: none;
}

.formula-editor.edit-cell {
  position: fixed;
}
