.formula-bar-wrapper {
  width: 100%;
  box-sizing: content-box;
  padding: var(--mediumPadding) var(--largePadding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--backgroundColor);
  height: var(--largePadding);
  border-bottom: 1px solid var(--borderColor);
}

.formula-bar-name {
  border: 1px solid var(--gridStrokeColor);
  width: 100px;
  height: 100%;
  margin-right: 10px;
  border-radius: 2px;
  text-align: center;
  background-color: var(--white);
  user-select: none;
}
.formula-bar-name-editor {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  text-align: center;
  border-radius: unset;
  outline: none;
  font: inherit;
  overflow: hidden;
  box-sizing: border-box;
}

.formula-bar-editor-wrapper {
  border: 1px solid var(--gridStrokeColor);
  flex: 1;
  height: 100%;
  border-radius: 2px;
  background-color: var(--white);
}

.formula-bar-value {
  padding: 0 var(--tinyPadding);
  margin: 0;
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.formula-bar-value.show {
  display: block;
}

.base-editor {
  width: 100%;
  min-height: 18px;
  padding: 0 var(--tinyPadding);
  margin: 0;
  border: none;
  border-radius: unset;
  outline: none;
  font: inherit;
  background-color: var(--white);
  overflow: hidden;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
}
