.buttonWrapper {
  padding: 0 4px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: var(--borderRadius);
  border: 1px solid var(--activeBorderColor);
  display: block;
}

.buttonWrapper.circle {
  border-radius: 50%;
}
.buttonWrapper.disabled {
  cursor: not-allowed;
  opacity: 0.35;
}
.buttonWrapper:hover,
.buttonWrapper.active {
  background-color: var(--buttonActiveColor);
}
.buttonWrapper.plain {
  border: none;
}
.buttonWrapper.primary {
  background-color: var(--primaryColor);
  color: var(--white);
}
