.toolbar-wrapper {
  padding: var(--mediumPadding) var(--largePadding) 0 var(--largePadding);
  box-sizing: border-box;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.toolbar-wrapper > * {
  margin-right: 8px;
  margin-bottom: var(--mediumPadding);
}
.fontFamily {
  font-size: var(--largeFont);
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.strike {
  text-decoration-line: line-through;
}
