.toolbar-wrapper {
  padding: var(--mediumPadding) var(--largePadding) 0 var(--largePadding);
  box-sizing: border-box;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.toolbar-wrapper > * {
  margin-right: 8px;
  margin-bottom: var(--mediumPadding);
}
.toolbar-wrapper .merge-cell {
  height: unset;
  width: 130px;
}
.toolbar-wrapper .merge-cell-button {
  margin-right: 20px;
  flex: 1;
  border-radius: unset;
}
.toolbar-wrapper .number-format {
  height: unset;
  width: 150px;
}
.number-format-value {
  text-align: center;
  width: 100%;
  margin-right: 20px;
}
.fontFamily {
  font-size: var(--largeFont);
  max-width: 200px;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.strike {
  text-decoration-line: line-through;
}

.wrap-text {
  text-wrap: nowrap;
}
