.toolbar-wrapper {
  padding: var(--mediumPadding) var(--largePadding);
  box-sizing: border-box;
  border-bottom: 1px solid var(--gridStrokeColor);
  display: flex;
  align-items: center;
}
.toolbar-wrapper > * {
  margin-right: 8px;
}
