.container {
  margin: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-item,
.add {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.list-item:hover {
  background-color: #ccc;
}
.add {
  font-size: 40px;
  padding: 20px 40px;
}
