.sheet-bar-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--largePadding);
  display: flex;
  align-items: center;
  position: relative;
}

.sheet-bar-list {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  overflow: auto;
}

.sheet-bar-item {
  padding: 0 10px;
  border-left: 1px solid var(--gridStrokeColor);
  user-select: none;
}

.sheet-bar-item.active {
  background-color: var(--white);
  color: var(--primaryColor);
}

.sheet-bar-context-menu {
  position: fixed;
  left: 0;
  bottom: 32px;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  width: 100px;
}

.sheet-bar-context-menu > button {
  width: 100%;
  background-color: var(--white);
}

.sheet-bar-input {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--white);
  outline: none;
  font: inherit;
  border: none;
  border-radius: unset;
}

.show-block {
  display: inline-block;
}

.sheet-bar-add {
  margin-left: var(--mediumPadding);
}

.sheet-bar-unhide {
  width: 100%;
  background-color: var(--white);
}
