.icon-wrapper {
  width: 1em;
  height: 1em;
  fill: currentColor;
  overflow: hidden;
}
.button-wrapper {
  padding: 0 4px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  border-radius: var(--borderRadius);
  border: 1px solid transparent;
}
.button-wrapper + .button-wrapper {
  margin-left: var(--mediumPadding);
}

.button-wrapper.circle {
  border-radius: 50%;
}
.button-wrapper.disabled {
  cursor: not-allowed;
  opacity: 0.35;
}
.button-wrapper:hover,
.button-wrapper.active {
  background-color: var(--buttonActiveColor);
  border-color: var(--activeBorderColor);
}

.github-wrapper {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  border: 0px;
  right: 0px;
  fill: var(--primaryColor);
  height: 40px;
  width: 40px;
}

.select-list {
  width: 100px;
  color: #000;
}
.select-item {
  font-size: var(--font);
  cursor: pointer;
}
.select-item.disabled {
  background-color: #fff;
  cursor: not-allowed;
  color: var(--disabledColor);
}
.select-item.disabled:hover {
  background-color: #fff;
}

.base-editor {
  height: 100%;
  width: 100%;
  padding: 0 4px;
  margin: 0;
  border: none;
  border-radius: unset;
  outline: none;
  font: inherit;
  overflow: hidden;
}
.cell-editor {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid var(--primaryColor);
  border-radius: 2px;
  background-color: #fff;
  box-sizing: border-box;
}

.color-picker-wrapper {
  width: 228px;
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 0;
  display: none;
}
.color-picker-wrapper.show {
  display: block;
}
.color-picker-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding-top: 4px;
  padding-left: 4px;
  background-color: #fff;
}
.color-picker-item {
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
  margin-right: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}
.color-picker-item:hover {
  border-color: #ccc;
}
.color-picker-trigger {
  border: 1px solid var(--borderColor);
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
}
.color-picker-trigger:hover,
.color-picker-trigger.active {
  background-color: var(--buttonActiveColor);
  border-color: var(--activeBorderColor);
}
