.dialog-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: var(--highestZIndex);
  background-color: var(--dialogBackground);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-container {
  background-color: var(--white);
  padding: var(--padding);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}

.dialog-title {
  font-weight: bold;
  font-size: var(--largeFont);
}

.dialog-content {
  padding-top: var(--mediumPadding);
}

.dialog-button {
  padding-top: var(--mediumPadding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog-cancel {
  margin-left: var(--mediumPadding);
}
