.toolbar-wrapper {
  padding: var(--spacing-2);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}

.fontFamily {
  max-width: 200px;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.strike {
  text-decoration-line: line-through;
}

.wrap-text {
  text-wrap: nowrap;
}
