body,
html {
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font);
  line-height: var(--lineHeight);
}
body {
  font-family: 'Microsoft Yahei UI', 'PingFang SC', 'Arial', sans-serif;
  background-color: var(--white);
  color: var(--black);
  font-size: var(--font);
}
.root-container {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
div,
span {
  box-sizing: border-box;
}

input {
  color: var(--black);
}
html[data-theme='dark'] input {
  background-color: var(--white);
}
input[type='number'] {
  border: 1px solid var(--borderColor);
}
