body,
html {
  margin: 0;
  padding: 0;
}
html {
  font-size: var(--font);
  color: var(--contentColor);
  line-height: var(--lineHeight);
}
body {
  font-family: 'Microsoft Yahei UI', 'PingFang SC', 'Arial', sans-serif;
  background-color: #f3f3f3;
}
.root-container {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
div,
span {
  box-sizing: border-box;
}
